* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
  min-width: 100vw;
}

#sign-up-container,
#sign-in-container {
  border: 1px solid gray;
  border-radius: 28px;
  padding: 10px;
  max-width: 400px;
  margin: auto;
}

#sign-up-container form,
#sign-in-container form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
/* NavBar */
.hover-pointer {
  transition: all 0.2s;
}
.hover-pointer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hover-pointer.fa-gear:hover {
  transform: scale(1.2) rotate(90deg);
}

.profile-container {
  z-index: 100;
}

/* Aside */

.aside {
  min-width: 260px;
  font-size: 14px;
  /* color: rgb(95,99,104) !important; */
}

.aside i {
  font-size: 18px;
}

.aside ul {
  list-style: none;
}

.aside li {
  max-width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.aside li i {
  width: 10%;
}
.aside li span {
  width: 90%;
}

.aside li:hover {
  background-color: rgb(241, 243, 244);
}
li.active-aside-tab:hover {
  background-color: rgb(232, 240, 254);
}

.aside a {
  text-decoration: none;
  color: rgb(95, 99, 104) !important;
  width: 100%;
  padding: 9px 12px 9px 24px;
}
.aside a span {
  color: #3c4043;
  font-weight: 420;
}

.active-aside-tab {
  background-color: rgb(232, 240, 254) !important;
}
.active-aside-tab a,
.active-aside-tab a span {
  color: rgb(26, 115, 232) !important;
}

.material-symbols-outlined {
  display: inline;
  width: 54px !important;
}
/* photos */

.photos-container {
  height: calc(100vh - 64px);
}

::-webkit-scrollbar {
  display: none;
}

/* More Info Dropdown */

#dropdown-basic-button::after {
  display: none;
}

#dropdown-basic-button {
  color: #f8f9fa;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

/* Albums */

#new-album-name,
#album-name {
  font-size: 3rem !important;
  border: none;
  transition: all 0.2s;
  width: 80%;
  outline: none;
}
#new-album-name:hover {
  border-bottom: 1px solid gray;
}
#new-album-name:focus,
#album-name:focus {
  border: none !important;
  border-bottom: 2px solid rgb(26, 115, 232) !important;
}

#album-name {
  border-bottom: 1px solid gray;
}

#select-album-photos-btn {
  padding: 40px 80px !important;
  background: none;
  min-width: 370px;
}

#select-album-photos-btn:hover {
  background: #f1f1f1 !important;
}

/* Photo Selection for album */

.photo-checkbox label {
  position: relative;
  height: 250px;
  width: auto;
  display: inline-block;
  background-size: contain !important;
  background-repeat: no-repeat;
}
.photo-checkbox label input {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  accent-color: rgba(8, 8, 191, 0);
}

/* Landing Page */

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-150vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(200vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.brand-heading {
  animation: fade-in-down 1s ease-in-out forwards;
}

.landing-page a {
  animation: fade-in-up 1.5s ease-in-out forwards;
}

/* Sharing */

#sharing-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 20px 0 40px;
  border-bottom: 1px solid #aab4be;
  width: auto;
  height: 40px;
}

#sharing-menu li {
  padding: 0px 35px;
  font-size: 1rem;
  color: #aab4be;
}

#sharing-menu li:hover {
  cursor: pointer;
}
